<div class="buttons-container back-to-favorites">
    <a href="/favorites">
        <button class="btn white">
            < back to favorites</button>
    </a>
</div>

<form method="post" action="/add-city" class="form" enctype="multipart/form-data">

    <div class="container flex">

        <div class="city-name-input">
            <label class="label" for="name">City</label>
            <input class="input" id="name" type="text" name="name" required>
        </div>

        <div class="country-input">
            <label class="label" for="country">Country</label>
            <input class="input" id="country" type="text" name="country" required>
        </div>


        {{!-- <div class="country-input">
            <input class="input" id="image" type="file" name="image">
        </div> --}}

        <button class="btn blue-gradient add">
            <span> + add now</span>
        </button>
    </div>
</form>