<form id="location-form" class="searchbar">
    <input placeholder="ex: Paris, Bangkok, Sao Paulo..." type="text" class="location-input">
    <a href=""><button class="search-btn">search</button></a>
</form>

{{> weatherWidget}}