<div class="buttons-container back-to-favorites">
    <a href="/favorites">
        <button class="btn white">
            < back to favorites</button>
    </a>
</div>

<form method="post" action="/update-city/{{city._id}}" class="form">

    <div class="container flex">

        <div class="city-name-input">
            <label class="label" for="name">City</label>
            <input class="input" id="name" type="text" name="name" value="{{city.name}}" required>
        </div>

        <div class="country-input">
            <label class="label" for="country">Country</label>
            <input class="input" id="country" type="text" name="country" value="{{city.country}}" required>
        </div>

        <button class="btn blue-gradient add">
            <span>update now</span>
        </button>
    </div>
</form>