.buttons-container {
  padding: 25px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  padding: 13px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 700;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.btn:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

#back-btn {
  color: white;
}

.blue-gradient {
  background-image: var(--gradient);
}

.white {
  background-color: white;
  color: #343d4b;
}

.add-city {
  padding-right: 50px;
  padding-left: 50px;
}

.cities-list {
  padding: 0px;
}

.city-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 20px 20px 20px 20px;
  margin: 10px 30px;
  -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #222831;
  color: white;
  transition: 200ms ease;
  cursor: pointer;
}

.action {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  text-align: end;
}

.favorite-city {
  text-decoration: none;
  color: white;
}

.city-item:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  background-color: rgba(255, 255, 255, 0.05);
}

.city-info {
  text-align: start;
}

.action-container {
  display: flex;
  flex-direction: column;
}

.action-icon {
  display: inline-block;
  height: 1.8em;
  width: auto;
  color: white;
}
